* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}
    
.container {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 30rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c6d4d8, #a3b2bf);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c6d4d8, #a3b2bf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container h1 {
    color: #333;
    padding: .5rem;
}
.content-form {
    padding: .5rem 1rem;
    background-color: #fff;
    position: relative;
}

.form-group label {
    font-size: 1rem;
}

.select-control {
    width: 100%;
    height: 2rem;
    margin: 1rem 0;
    background-color: #fff;
    color: #333;
}

.form-group legend {
    color: #333;
    padding: 0 1rem 0 .5rem;
}

.form-check {
    margin: .5rem 0;
    color: #333;
    padding-left: .2rem;
}

.error {
    position: absolute;
    top: 5%;
    right: 50%;
    left: 50%;
    width: 18rem;
    background-color: #fc0404;
    border: 1px solid #fdfbfb;
    padding: .5rem;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #fdfbfb;
}

.error p {
    margin:0;
}

.spinner img {
    display: none;
    margin: 0 auto;
}

.result > div {
    background-color: #fdfde0;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    text-align: center;
    padding: 0  0 20px 0;
    margin: .1rem 0;
}

.result > div p {
    margin: .5rem 0;
}

.result > div p.header {
    margin-bottom: 10px;
    color:black;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.submit-btn {
    padding: .3rem 2rem;
    margin: .5rem 0 .5rem 0;
    background-color: #67686e;
    font-weight: bold;
    color: white;
    text-shadow: .125rem .125rem .125rem black;
    cursor: pointer;
    transition: .3s;
}

.submit-btn:hover {
    background-color: #4e7953;
}